# Списки и словари

Булыгин Олег  
FB: [fb.com/obulygin91](fb.com/obulygin91)  
VK: [vk.com/obulygin91](vk.com/obulygin91)  
LinkedIn: [linkedin.com/in/obulygin](linkedin.com/in/obulygin)  
Telegram: https://t.me/obulygin91

На сегодняшнем уроке мы разберем такие структуры данных как списки и словари. Эти структуры позволяют хранить последовательности данных и грамотно с ними взаимодействовать.

## Списки

**Список** (list) в Python — это упорядоченная изменяемая коллекция объектов произвольных типов.




В этом определении важна каждое слово. Мы будем к нему возвращаться по мере иллюстрации возможностей и свойств списков.



* Когда мы называем список коллекцией, мы имеем в виду, что в одном списке может храниться множество объектов (например, чисел или строковых величин) 


* Говоря о том, что списки представляют собой упорядоченные коллекции, мы обращаем внимание на то, что каждый элемент в списке имеет свой порядковый номер.


* Упоминание об изменяемости списков означает, что мы можем менять элементы списка уже после его объявления.


* Выражение «произвольных типов» означает, что в списке могут храниться данные, относящиеся к любым типам из тех, с которыми работает Python. *То есть это могут быть также другие списки и словари*

Список инициализируется при помощи [ ], элементы в списке разделяются запятыми.

In [31]:
month_list = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep']
income_list = [13000, 14000, 14300, 15000, 13800, 13000, 14900, 15200, 15300]
income_by_months = [['Jan', 13000], ['Feb', 14000], ['Mar', 14300], ['Apr', 15000], ['May', 13800], ['Jun', 13000], ['Jul', 14900], ['Aug', 15200], ['Sep', 15300]]

### Индексация и срезы
– доступ к элементам объекта по их порядковому номеру в нем. Индексация элементов начинается с нуля.

Получить значение элемента по индексу можно при помощи `[ ]`,
например: `my_string[0]` и `my_string[-6]` (при обратной индексации).

Можно “доставать” из строки несколько элементов при помощи “срезов” (slicing). Для указания интервала среза используется `:`

`list[START:STOP:STEP]` - берёт срез от номера `START`, до `STOP` не включая его, с шагом `STEP`. По умолчанию `START` = 0, `STOP` = длина объекта, `STEP` = 1. Какие-либо (а возможно, и все) параметры могут быть опущены.

In [1]:
my_list = [1, 2, 3, 4, 5, 6]

In [2]:
my_list[0]

1

In [3]:
my_list[-6]

1

In [4]:
# индексация элементов в списке
month_list = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep']
print(month_list[0])
print('--------------')
print(month_list[-1])
print('--------------')
print(month_list[-4])

Jan
--------------
Sep
--------------
Jun

In [5]:
# срезы
month_list = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep']
print(month_list[1:3])
print('--------------')
print(month_list[-8:-6])
print('--------------')
print(month_list[2:])
print('--------------')
print(month_list[:3])
print('--------------')
print(month_list[::2])
print('--------------')
print(month_list[4:8:3])
print('--------------')
print(month_list[::-1])

['Feb', 'Mar']
--------------
['Feb', 'Mar']
--------------
['Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep']
--------------
['Jan', 'Feb', 'Mar']
--------------
['Jan', 'Mar', 'May', 'Jul', 'Sep']
--------------
['May', 'Aug']
--------------
['Sep', 'Aug', 'Jul', 'Jun', 'May', 'Apr', 'Mar', 'Feb', 'Jan']

In [7]:
# можно обращаться к любому уровню вложенности
income_by_months = [['Jan', 13000], ['Feb', 14000], ['Mar', 14300], ['Apr', 15000], ['May', 13800], ['Jun', 13000], ['Jul', 14900], ['Aug', 15200], ['Sep', 15300]]
income_by_months[0][1]

13000

In [8]:
# изменение списков
income_by_months[0][1] = 13100
print(income_by_months)

[['Jan', 13100], ['Feb', 14000], ['Mar', 14300], ['Apr', 15000], ['May', 13800], ['Jun', 13000], ['Jul', 14900], ['Aug', 15200], ['Sep', 15300]]

In [9]:
# можем заменять сразу срез
income_by_months[0:2] = [['Jan', 13200], ['Feb', 13900]]
print(income_by_months)

[['Jan', 13200], ['Feb', 13900], ['Mar', 14300], ['Apr', 15000], ['May', 13800], ['Jun', 13000], ['Jul', 14900], ['Aug', 15200], ['Sep', 15300]]

In [10]:
# можем складывать списки
income_by_months_2 = [['Nov', 15400], ['Dec', 17000]]
income_by_month = income_by_months + income_by_months_2
print(income_by_month)

[['Jan', 13200], ['Feb', 13900], ['Mar', 14300], ['Apr', 15000], ['May', 13800], ['Jun', 13000], ['Jul', 14900], ['Aug', 15200], ['Sep', 15300], ['Nov', 15400], ['Dec', 17000]]

### Распаковка списков

In [16]:
first, second, third = ['первый', 'второй', 'третий']
third

'третий'

In [19]:
# когда число элементов неизвестно
first, *other = ['первый', 'второй', 'третий']
print(first)
print(other)

первый
['второй', 'третий', 'dfhbdfh']

In [20]:
first, *other, last =  ['первый', 'второй', 'третий', 'четвертый']

In [21]:
first, last

('первый', 'четвертый')

In [23]:
some_list = ['первый', 'второй', 'третий', 'четвертый']

In [25]:
*other, last = some_list
print(last)

четвертый

### Операции со списками

Со всеми операциями над списками можно ознакомиться по [ссылке](https://docs.python.org/3/tutorial/datastructures.html#more-on-lists).

In [26]:
income_by_months

[['Jan', 13200],
 ['Feb', 13900],
 ['Mar', 14300],
 ['Apr', 15000],
 ['May', 13800],
 ['Jun', 13000],
 ['Jul', 14900],
 ['Aug', 15200],
 ['Sep', 15300]]

In [27]:
# Удаляем элемент по индексу
del(income_by_months[-1])
income_by_months

[['Jan', 13200],
 ['Feb', 13900],
 ['Mar', 14300],
 ['Apr', 15000],
 ['May', 13800],
 ['Jun', 13000],
 ['Jul', 14900],
 ['Aug', 15200]]

In [28]:
# удаляем элемент по значению
print(month_list)

month_list.remove('Sep')
print(month_list)

['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep']
['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug']

In [29]:
# добавляем элемент в конец списка
income_by_months.append(['Dec', 17000])
income_by_months

[['Jan', 13200],
 ['Feb', 13900],
 ['Mar', 14300],
 ['Apr', 15000],
 ['May', 13800],
 ['Jun', 13000],
 ['Jul', 14900],
 ['Aug', 15200],
 ['Dec', 17000]]

In [32]:
# добавляем элемент по нужному индексу
print(income_list)
income_list.insert(2, 1111111)
print(income_list)

[13000, 14000, 14300, 15000, 13800, 13000, 14900, 15200, 15300]
[13000, 14000, 1111111, 14300, 15000, 13800, 13000, 14900, 15200, 15300]

In [35]:
# считаем количество вхождений элемента в список
income_list.count(4567457)

0

In [37]:
# узнаем индекс элемента в списка (только первое вхождение!)
income_list.index(13000)
# income_list.index(13000, 1)

6

In [38]:
# разворачиваем список
month_list.reverse()
month_list

['Sep', 'Aug', 'Jul', 'Jun', 'May', 'Apr', 'Mar', 'Feb', 'Jan']

In [39]:
# и несколько функций применитолько к спискам

# узнаем длину списка
len(income_list)

10

In [40]:
# сумма элементов
sum(income_list)

1239611

In [41]:
# максимальный элемент элементов
max(income_list)

1111111

In [42]:
# минимальный элемент элементов
min(income_list)

13000

In [43]:
# сортировка по возрастанию
sorted(income_list)

[13000, 13000, 13800, 14000, 14300, 14900, 15000, 15200, 15300, 1111111]

In [44]:
# изменить порядок сортировки
sorted(income_list, reverse=True)

[1111111, 15300, 15200, 15000, 14900, 14300, 14000, 13800, 13000, 13000]

In [45]:
# а это сортировка строк по алфавиту (лексикографически)
sorted(month_list)

['Apr', 'Aug', 'Feb', 'Jan', 'Jul', 'Jun', 'Mar', 'May', 'Sep']

Методы изменяемых типов данных всегда меняют исходный, объект, а не создают новый!  
Методы неизменыемых типов данных всегда возвращают новый объект и не меняют исходный.

In [46]:
month_list = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep']

res = month_list.sort()
print(res)
print(month_list)

None
['Apr', 'Aug', 'Feb', 'Jan', 'Jul', 'Jun', 'Mar', 'May', 'Sep']

In [47]:
month_list = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep']

sorted(month_list) # функция sorted создает новый объект
print(month_list)

['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep']

In [48]:
month_list = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep']

res = sorted(month_list)
print(res)
print(month_list)

['Apr', 'Aug', 'Feb', 'Jan', 'Jul', 'Jun', 'Mar', 'May', 'Sep']
['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep']

В примере ниже переменная `a` и `b` на самом деле указывают на один и тот же объект. В результате, при добавлении в `b` очередного элемента этот элемент добавляется и в исходном листе `a`. Это особенность всех изменяемых типов данных в Python

In [49]:
a = [1, 2, 3]
b = a

In [50]:
b.append(4)
print(a)

[1, 2, 3, 4]

In [51]:
id(a), id(b)

(2114269480128, 2114269480128)

In [52]:
# создаем копию объекта 
a = [1, 2, 3]
b = list(a)
b.append(4)
print(a)
print(b)
id(a), id(b)

[1, 2, 3]
[1, 2, 3, 4]

(2114269501248, 2114269502144)

In [53]:
# создаем копию объекта (другой способ)
a = [1, 2, 3]
b = a.copy()
b.append(4)
print(a)
print(b)
id(a), id(b)

[1, 2, 3]
[1, 2, 3, 4]

(2114269396224, 2114269441024)

In [54]:
# создаем копию объекта (еще способ)
a = [1, 2, 3]
b = a[:]
b.append(4)
print(a)
print(b)
id(a), id(b)

[1, 2, 3]
[1, 2, 3, 4]

(2114269490240, 2114269501824)

### Проверка вхождения элемента в список

In [58]:
# 'Москва' in ['Ленинград', 'Одесса', 'Севастополь', 'Москва']
'Москва' not in ['Ленинград', 'Одесса', 'Севастополь', 'Москва']

True

### Итерация по спискам

In [61]:
companies_capitalization = [
 ['Orange', 1.3],
 ['Maxisoft', 1.5],
 ['Headbook', 0.8],
 ['Nicola', 2.2]
]
for company in companies_capitalization:
#     print(company)
    print(company[0], 'capitalization is', company[1])

Orange capitalization is 1.3
Maxisoft capitalization is 1.5
Headbook capitalization is 0.8
Nicola capitalization is 2.2

In [62]:
# распаковка элементов прямо в цикле
companies_capitalization = [
 ['Orange', 1.3],
 ['Maxisoft', 1.5],
 ['Headbook', 0.8],
 ['Nicola', 2.2]
]
for company_name, cap in companies_capitalization:
    print(company_name, 'capitalization is', cap)

Orange capitalization is 1.3
Maxisoft capitalization is 1.5
Headbook capitalization is 0.8
Nicola capitalization is 2.2

### Практика. У нас есть список, содержащий информацию о среднедневной температуре в Фаренгейтах за произвольный период по странам. Необходимо написать код, который рассчитает среднюю температуру за период для каждой страны.

In [66]:
countries_temperature = [
    ['Thailand', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
    ['Germany', [57.2, 55.4, 59, 59, 53.6]],
    ['Russia', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
    ['Poland', [50, 50, 53.6, 57.2, 55.4, 55.4]]
]

In [73]:
for el in countries_temperature:
    print(el[0], '-', round(sum(el[1]) / len(el[1]), 2))

Thailand - 74.94
Germany - 56.84
Russia - 38.69
Poland - 53.6

In [78]:
# средняя по всем странам
sum_temp = 0
for el in countries_temperature:
#     print(el[0])
    sum_temp += sum(el[1]) / len(el[1])
print(sum_temp / len(countries_temperature))

Thailand
Germany
Russia
Poland
56.01714285714285

In [ ]:
# for element in countries_temperature:
#    avg_temp = sum(element[1]) / len(element[1])
#    print(f"Средняя температура в {element[0]} - {avg_temp} F")

### Практика. Посчитаем сумму элементов по главной диагонали в матрице

In [80]:
data = [
    [13, 25, 23, 34],
    [45, 32, 44, 47],
    [12, 33, 23, 95],
    [13, 53, 34, 35]
]

In [84]:
sum_ = 0
index = 0
for row in data:
    sum_ += row[index]
    index += 1
print(sum_)

103

### List comprehension

Генератор списка позволяет создать список и заполнить его данными.

In [85]:
# Дана последовательность чисел. Мы хотим оставить только те, что делятся на 5
sequence = range(0, 40, 3)
list(sequence)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39]

In [86]:
# решение в лоб
for num in sequence:
    if num % 5 == 0:
        print(num)

0
15
30

In [87]:
# если хотим получить отфильтрованный лист, то будет даже так
filtered_sequence = []

for num in sequence:
    if num % 5 == 0:
        filtered_sequence.append(num)

print(filtered_sequence)

[0, 15, 30]

In [88]:
# а с list comprehension будет так
[num for num in sequence if num % 5 == 0]

[0, 15, 30]

In [89]:
# назвать переменную можно хоть как, как и в цикле
[w for w in sequence if w % 5 == 0]

[0, 15, 30]

In [90]:
# в левой чсти можем прописывать любые однострочные действия

[x**2 for x in sequence if x % 5 == 0]

[0, 225, 900]

In [92]:
# если нужен else, то запись должна быть немного другая

[x**2 if x % 5 == 0 else x**0.5 for x in sequence]

[0,
 1.7320508075688772,
 2.449489742783178,
 3.0,
 3.4641016151377544,
 225,
 4.242640687119285,
 4.58257569495584,
 4.898979485566356,
 5.196152422706632,
 900,
 5.744562646538029,
 6.0,
 6.244997998398398]

Пример вычисления метрики из набора списков. Столбцы в каждой строке:
- дата
- номер счетчика
- количество визитов

Найдем среднее количество визитов по нашим данным

In [94]:
api_response = [
    ['2017-12-26', '777', 184],
    ['2017-12-27', '111', 146],
    ['2017-12-28', '777', 98],
    ['2017-12-29', '777', 206],
    ['2017-12-30', '111', 254],
    ['2017-12-31', '777', 89],
    ['2018-01-01', '111', 54],
    ['2018-01-02', '777', 68],
    ['2018-01-03', '777', 74],
    ['2018-01-04', '111', 89],
    ['2018-01-05', '777', 104],
    ['2018-01-06', '777', 99],
    ['2018-01-07', '777', 145],
    ['2018-01-08', '111', 184],
]

In [95]:
for element in api_response:
    print(element[2])

184
146
98
206
254
89
54
68
74
89
104
99
145
184

In [98]:
round(sum([x[2] for x in api_response]) / len(api_response), 2)

128.14

### Практика. Решим задачу с диагональной матрицей при помощи list comprehension

In [ ]:
data = [
    [13, 25, 23, 34],
    [45, 32, 44, 47],
    [12, 33, 23, 95],
    [13, 53, 34, 35]
]

In [ ]:
# sum([(row[index]) for index, row in enumerate(data)])

In [ ]:
# sum([(row[-index-1]) for index, row in enumerate(data)])

## Словари

**Словари** – коллекции произвольных объектов с доступом по ключу. В отличие от последовательностей, которые индексируются диапазоном чисел, словари индексируются по ключам, которые могут быть любым неизменяемым типом.

In [111]:
salaries = {
    'John': 1200,
    'Mary': 500,
    'Steven': 1000,
    'Liza': 1500
}

In [100]:
# обращение к элементу словаря
salaries['John']

1200

### Операции над словарями
Со всеми операциями над словарями можно ознакомиться по [ссылке](https://docs.python.org/3/library/stdtypes.html?highlight=dictionary#mapping-types-dict).

In [101]:
# удаляем элемент из словаря
del(salaries['Liza'])
salaries

{'John': 1200, 'Mary': 500, 'Steven': 1000}

In [102]:
# добавляем элемент в словарь
salaries['James'] = 2000
salaries

{'John': 1200, 'Mary': 500, 'Steven': 1000, 'James': 2000}

In [103]:
# изменяем значение по ключу
salaries['Mary'] = 2000
salaries

{'John': 1200, 'Mary': 2000, 'Steven': 1000, 'James': 2000}

In [107]:
# salaries = {
#     '2': 1200,
#     '1': 500,
#     '0': 1000,
#     '3': 1500
# }

In [109]:
# salaries['2']

1200

In [115]:
# безопасно получаем значение по ключу
# salaries['Oleg']
# salaries.get('Oleg', 'Not Found')
salaries.get('Oleg', 'Not Found')

'Not Found'

In [117]:
# проверка на наличие ключа в словаре
recruit = 'Amanda'

if recruit in salaries:
    print('Значение для ключа уже существует')
else:
    print('Добавляю новый ключ')
    salaries[recruit] = 2200

print(salaries)

Значение для ключа уже существует
{'John': 1200, 'Mary': 500, 'Steven': 1000, 'Liza': 1500, 'Amanda': 2200}

In [119]:
# можно использовать метод setdefault
# setdefault не изменяет значение, если ключ уже был в словаре

salaries.setdefault('Mary', 3000)
# salaries
salaries.setdefault('Paul', 3000)
salaries

{'John': 1200,
 'Mary': 500,
 'Steven': 1000,
 'Liza': 1500,
 'Amanda': 2200,
 'Paul': 3000}

In [120]:
# перейдем к более сложному словарю
staff_dict = {
    'Robert': {'salary': 800, 'bonus': 200}, 
    'Jane': {'salary': 200, 'bonus': 300}, 
    'Liza': {'salary': 1300, 'bonus': 200}, 
    'Richard': {'salary': 500, 'bonus': 1200}
}

In [122]:
staff_dict['Robert']['salary']

800

In [123]:
staff_dict['Oleg'] = {'salary': 1000000, 'bonus': 300}
staff_dict

{'Robert': {'salary': 800, 'bonus': 200},
 'Jane': {'salary': 200, 'bonus': 300},
 'Liza': {'salary': 1300, 'bonus': 200},
 'Richard': {'salary': 500, 'bonus': 1200},
 'Oleg': {'salary': 1000000, 'bonus': 300}}

In [125]:
# получаем только ключи/значения из словаря (очень пригодиться в циклах)
# print(staff_dict.keys())
# print(staff_dict.values())
# print(staff_dict.items())

print(list(staff_dict.keys()))
print(list(staff_dict.values()))
print(list(staff_dict.items()))

['Robert', 'Jane', 'Liza', 'Richard', 'Oleg']
[{'salary': 800, 'bonus': 200}, {'salary': 200, 'bonus': 300}, {'salary': 1300, 'bonus': 200}, {'salary': 500, 'bonus': 1200}, {'salary': 1000000, 'bonus': 300}]
[('Robert', {'salary': 800, 'bonus': 200}), ('Jane', {'salary': 200, 'bonus': 300}), ('Liza', {'salary': 1300, 'bonus': 200}), ('Richard', {'salary': 500, 'bonus': 1200}), ('Oleg', {'salary': 1000000, 'bonus': 300})]

In [126]:
# итерация по словарям (по умолчанию перебираются ключи)
for person in staff_dict:
    print(person)
print('--------------------')    
# полностью аналогично с применением метода keys()
for key in staff_dict.keys():
    print(key)

Robert
Jane
Liza
Richard
Oleg
--------------------
Robert
Jane
Liza
Richard
Oleg

In [127]:
# итерация по значениям
for value in staff_dict.values():
    print(value)

{'salary': 800, 'bonus': 200}
{'salary': 200, 'bonus': 300}
{'salary': 1300, 'bonus': 200}
{'salary': 500, 'bonus': 1200}
{'salary': 1000000, 'bonus': 300}

In [128]:
# итерация сразу по ключам и значениям
for key, value in staff_dict.items():
    print(key, value)

Robert {'salary': 800, 'bonus': 200}
Jane {'salary': 200, 'bonus': 300}
Liza {'salary': 1300, 'bonus': 200}
Richard {'salary': 500, 'bonus': 1200}
Oleg {'salary': 1000000, 'bonus': 300}

In [129]:
# можем также применить enumerate
for i, person in enumerate(staff_dict):
    print(i + 1, person)

1 Robert
2 Jane
3 Liza
4 Richard
5 Oleg

In [137]:
for person, info in staff_dict.items():
#     print(person, info)
    print(person, "'s salary: ", info['salary'], sep='')

Robert's salary: 800
Jane's salary: 200
Liza's salary: 1300
Richard's salary: 500
Oleg's salary: 1000000

In [138]:
# добавим уровень з/п
for person, info in staff_dict.items():
#     print(person)
    if info['salary'] > 1000:
        info['status'] = 'above average'
    else:
        info['status'] = 'below average'
    print(person, "'s salary: ", info['salary'], ' ', info['status'], sep='')

staff_dict

Robert's salary: 800 below average
Jane's salary: 200 below average
Liza's salary: 1300 above average
Richard's salary: 500 below average
Oleg's salary: 1000000 above average

{'Robert': {'salary': 800, 'bonus': 200, 'status': 'below average'},
 'Jane': {'salary': 200, 'bonus': 300, 'status': 'below average'},
 'Liza': {'salary': 1300, 'bonus': 200, 'status': 'above average'},
 'Richard': {'salary': 500, 'bonus': 1200, 'status': 'below average'},
 'Oleg': {'salary': 1000000, 'bonus': 300, 'status': 'above average'}}

Удалим из словаря все пустые элементы (со значением None)

In [ ]:
my_dict = {
    'id1': 123456, 
    'id2': 654321, 
    'id3': None,
    'id4': 777777
}

In [ ]:
res = {}

for key, value in my_dict.items():
    if value:
#     if value is not None:
        res[key] = value
res

### Практика. Согласно сайту www.bodycounters.com в четырех частях фильма “Пираты Карибского моря” было довольно много погибших. Пиратов-зомби в последней части тоже считайте живыми.

In [ ]:
bodycount = {
    'Проклятие Черной жемчужины': {
        'человек': 17
    }, 

    'Сундук мертвеца': {
        'человек': 56,
        'раков-отшельников': 1
    },

    'На краю света': {
        'человек': 88
    },

    'На странных берегах': {
        'человек': 56,
        'русалок': 2,
        'ядовитых жаб': 3,
        'пиратов зомби': 2
    }
}

In [ ]:
total = 0
for i in bodycount:
    for j in bodycount[i]:
        total +=bodycount[i][j]

total

Дан список с визитами по городам и странам.  Напишем код, который возвращает отфильтрованный список geo_logs, содержащий только визиты из России.

In [145]:
geo_logs = [
    {'visit1': ['Москва', 'Россия']},
    {'visit2': ['Дели', 'Индия']},
    {'visit3': ['Владимир', 'Россия']},
    {'visit4': ['Лиссабон', 'Португалия']},
    {'visit5': ['Париж', 'Франция']},
    {'visit7': ['Тула', 'Россия']},
    {'visit5': ['Париж', 'Франция']},
    {'visit9': ['Курск', 'Россия']},
    {'visit5': ['Париж', 'Франция']},
    {'visit10': ['Архангельск', 'Россия']}
]

In [146]:
for n in geo_logs:
#     print(n)
#     print(n.values())
    for i in n.values():
        if i[1] != 'Россия':
            geo_logs.remove(n)
print(geo_logs)

# Почему этот вариант плохой?  
# 1) Потому что мы меняем объект прямо во время итерирования по нему  
# 2) Мы используем вложенный цикл, без которого можно обойтись (что плохо при прочих равных).

[{'visit1': ['Москва', 'Россия']}, {'visit3': ['Владимир', 'Россия']}, {'visit7': ['Тула', 'Россия']}, {'visit9': ['Курск', 'Россия']}, {'visit5': ['Париж', 'Франция']}, {'visit10': ['Архангельск', 'Россия']}]

In [155]:
# допустимый вариант, который не совсем соответствует условию
result = []
for visit in geo_logs:
#     print(list(visit.values()))
    if 'Россия' == list(visit.values())[0][1]:
        result.append(visit)
        
result

[{'visit1': ['Москва', 'Россия']},
 {'visit3': ['Владимир', 'Россия']},
 {'visit7': ['Тула', 'Россия']},
 {'visit9': ['Курск', 'Россия']},
 {'visit10': ['Архангельск', 'Россия']}]

In [152]:
# более корректынй вариант, который соответствует условию

geo_logs_2 = geo_logs.copy()

for visit in geo_logs_2:
    if 'Россия' not in list(visit.values())[0]:
        geo_logs.remove(visit)
        
geo_logs

[{'visit1': ['Москва', 'Россия']},
 {'visit3': ['Владимир', 'Россия']},
 {'visit7': ['Тула', 'Россия']},
 {'visit9': ['Курск', 'Россия']},
 {'visit10': ['Архангельск', 'Россия']}]

In [ ]:
# красивый вариант в одну строку (материал за рамками лекций)
# функция filter фильтрует последовательность по условию

list(filter(lambda visit: 'Россия' in list(visit.values())[0], geo_logs))

In [157]:
for log in geo_logs[::-1]:
    print(log)

{'visit10': ['Архангельск', 'Россия']}
{'visit9': ['Курск', 'Россия']}
{'visit7': ['Тула', 'Россия']}
{'visit3': ['Владимир', 'Россия']}
{'visit1': ['Москва', 'Россия']}

# Tuple (кортежы)

Это неизменяемые списки (нельзя добавлять или удалять элементы из уже созданного кортежа).
Кортежи инициализируется при помощи ( ).

In [159]:
salary_tuple = (1000, 1200, 1300, 900, 800)
print(type(salary_tuple))
type(list(salary_tuple))

<class 'tuple'>

list

In [160]:
# print(salary_tuple[0])
salary_tuple[0] = 500

TypeError: 'tuple' object does not support item assignment

In [161]:
# кортеж из одного элемента задается так:
t = ('one', )

In [162]:
# без запятой получится строка
type( ('one') )

str

In [ ]:
# функция zip
salaries = set([1000, 1200, 1300, 900, 800, 1000])
names = set(['Robert', 'Jane', 'Liza', 'Richard', 'John'])
salaries_by_names = zip(names, salaries)
# print(salaries_by_names)
print(list(salaries_by_names))

### Практика. Вывести фамилии построчно с указанием профессии

IT:  
Гейтс  
Джобс  
Возняк  

Физика:  
Эйнштейн  
Фейнман  

...

In [ ]:
professions = ['IT', 'Физика', 'Математика']
persons = [['Гейтс', 'Джобс', 'Возняк'], ['Эйнштейн', 'Фейнман'], ['Эвклид', 'Ньютон']]

In [ ]:
# for pro, person_list in zip(professions, persons):
#     print(f'{pro}:')
#     for person in person_list:
#         print(person)
#     print()

## Множества (set)
Набор неповторяющихся элементов в случайном порядке. Они необходимы тогда, когда присутствие объекта в наборе важнее порядка или того, сколько раз данный объект там встречается.

Множества инициализируется при помощи set(), как правило создаются из списков.

Реализуют теорию множеств в Python.

In [164]:
data_scientist_skills = set(['Python', 'R', 'SQL', 'Tableau', 'SAS', 'Git'])
data_engineer_skills = set(['Python', 'Java', 'Scala', 'Git', 'SQL', 'Hadoop'])

In [165]:
# логическое ИЛИ – что нужно знать data-scientst, который по совместительству data-engineer
print(data_scientist_skills.union(data_engineer_skills))
print(data_scientist_skills | data_engineer_skills)

{'Hadoop', 'Scala', 'SQL', 'Python', 'R', 'Git', 'Tableau', 'Java', 'SAS'}
{'Hadoop', 'Scala', 'SQL', 'Python', 'R', 'Git', 'Tableau', 'Java', 'SAS'}

In [166]:
# логическое И – что нужно знать и data-scientist и data-engineer
print(data_scientist_skills.intersection(data_engineer_skills))
print(data_scientist_skills & data_engineer_skills)

{'Python', 'Git', 'SQL'}
{'Python', 'Git', 'SQL'}

In [168]:
# разность множеств – что знает data-scientist, но не знает data-engineer (и наоборот)
# print(data_scientist_skills.difference(data_engineer_skills))
# print(data_scientist_skills - data_engineer_skills)
# print(data_engineer_skills.difference(data_scientist_skills))
# print(data_engineer_skills - data_scientist_skills)

{'Scala', 'Java', 'Hadoop'}
{'Scala', 'Java', 'Hadoop'}

In [169]:
# симметричная разность множеств – что такого знают data-scientist и data-engineer, чего не знают они оба
# print(data_scientist_skills.symmetric_difference(data_engineer_skills))
# print(data_scientist_skills ^ data_engineer_skills)
print(data_engineer_skills.symmetric_difference(data_scientist_skills))
print(data_engineer_skills ^ data_scientist_skills)

{'Hadoop', 'Scala', 'R', 'Tableau', 'Java', 'SAS'}
{'Hadoop', 'Scala', 'R', 'Tableau', 'Java', 'SAS'}

In [ ]:
# Из списка можно убрать все повторения просто обратив его в set!

### Спасибо за внимание! Буду рад ответить на ваши вопросы
Форма ОС: https://forms.gle/y8xaFwJqtbFSjUeG8